 <form action="/<%= @file_name %>/edit_file" id="editFileForm" method="post">
    <textarea class="text" cols="150" rows ="13" name="fileContents" form="editFileForm"><%= @file %></textarea>
    <input type="submit">
</form>

