 <p>Editing file: <%= @file_name %></p>
 <form action="/<%= @file_name %>/edit_file" id="editFileForm" method="post">
    <textarea class="text" rows="15" cols="80" name="fileContents" form="editFileForm"><%= @file %></textarea>
    <input type="submit">
</form>

