<a href="/new_document">New Document</a>
<% @files.each do |file| %>
  <ul>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="<%= file %>/edit_file">edit</a>
    </li>
  </ul>
<% end %>