<form action="/sign_in" method="post">
  username:
  <input type="text" name="username" value="<%= @username %>" >
  password:
  <input type="password" name="password">
  <button type="submit">Sign In</button>
</form>